@model Customer

@{
    ViewBag.Title = "Giriş Ekranı";
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
{
    <h2 class="form-signin-heading">Oturum Aç</h2>
    <div class="login-wrap">
        @{
            if (TempData["Error"] != null)
            {
                <div class="alert alert-block alert-danger fade in">
                    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                    </button>
                    @TempData["Error"]
                </div>
            }
        }
        @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", @placeholder = "E-Posta Adresi", @autofocus = "autofocus" })
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Şifre", @type = "Password"})
        <div class="btn-group">
            <span class="pull-right">
                <a data-toggle="modal" href="#myModal"> Şifremi unuttum</a>
            </span>
        </div>
        

        <button class="btn btn-primary btn-lg btn-block" type="submit">Giriş</button>
        <div class="registration">
            <a href="@Url.Action("Register", "Account")">
                Hesap oluştur
            </a>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Şifremi Unuttum</h4>
                </div>
                <div class="modal-body">
                    <p>Kayıtlı olan e-posta hesabınızı girerek şifrenizi sıfırlayabilirsiniz.</p>
                    <input type="text" name="Email" placeholder="E-Posta" autocomplete="off" class="form-control placeholder-no-fix">

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">İptal</button>
                    <button class="btn btn-success" type="button">Gönder</button>
                </div>
            </div>
        </div>
    </div>
}