@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron">
    <h1>Bilge Hotel</h1>
    <p class="lead">Hotelimiz, Kemerin en gözde hotelidir. Hotellimiz 5 yıldızlıdır. </p>
    <img src="https://im0-tub-tr.yandex.net/i?id=e2f2842e10ee670f9d867460fb622670&n=13" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Paketlerimiz</h2>
        <p>
            Tam Pansiyon ve Herşey Dahil olmak üzere hotellimizde iki adet paket bulunmaktadır.
        </p>
        <h2>Kampanyalarımız</h2>
        <p>En Az Bir Ay Önce Yapılan Herşey Dahil Rezervasyonlarda %18 İndirim Yapılır.</p>
        <p>En Az Bir Ay Önce Yapılan Tam Pansiyon Rezervasyonlarda %16 İndirim Yapılır.</p>
        <p>En Az 3 Ay Önce Yapılan Tüm Paketlerimizdeki Rezervasyonlarında %23 İndirim Yapılır.</p>

    </div>
</div>