@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron">
    <h1>Bilge Hotel</h1>
    <p class="lead">Hotelimiz, Kemerin en gözde hotelidir. Hotellimiz 5 yıldızlıdır. </p>
    <img src="https://im0-tub-tr.yandex.net/i?id=e2f2842e10ee670f9d867460fb622670&n=13"/>
    <p>
    <a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kampanya & Paketlerimiz </h2>
        <p>
            Hotellimizde kaçırmamanız gereken kampanya ve paketlerimiz vardır
        </p>
        <p>
        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Ayrıntılar için Tıklayınız &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>
        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>